<div class="container">
    <h1 style="text-align: center">Create an event</h1>
    <form action="event_submit.php" method="post">
        <div class="form-group">
            <label for="name">Name : </label>
            <input type="text" class="form-control" placeholder="Name" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Description : </label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="start">Starting Date : </label>
            <input type="date" class="form-control" id="start" name="start">
        </div>
        <div class="form-row align-items-center">
            <div class="col form-group">
                <label for="end">Ending Date :</label>
                <input type="date" class="form-control" id="end" name="end">
            </div>
            <div class="col-xs">
                <p>OR</p>
            </div>
            <div class="col form-group">
                <label for="end">Duration :</label>
                <input type="number" class="form-control" id="duration" name="duration" min="1" placeholder="Number of day">
            </div>
        </div>
        <div class="form-group">
            <label for="place">Number of place : </label>
            <input type="number" class="form-control" id="place" min="1" name="place">
        </div>
        <button type="submit" class="btn btn-primary btn-block" value="Log In">Send</button>
    </form>
</div>