<div class="container">
    <h1>Connexion</h1>
    <form action="login.php" method="post">
        <div class="row">
            <div class=" col form-group">
                <label for="user">Username : </label>
                <input type="text" class="form-control" placeholder="Username" id="user" name="user">
            </div>
            <div class="col form-group">
                <label for="password">Password : </label>
                <input type="password" class="form-control" placeholder="Password" id="password" name="password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>